<%- include('../layout/adminheader.ejs') %>
<link href="css/style.css" rel="stylesheet">
    
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image  m-auto">
                        <img src="./img/undraw_profile.svg" alt="" class="w-75 ml-5  image-fluid">
                    </div>
                    <div class="col-lg-7">
                        <div class="p-1">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">Create an Account!</h1>
                            </div>
                            <!-- alart -->
                            <div class="alert alert-danger alert-dismissible fade show row" id="show" role="alert">
                                <div class="col-10" id="errDisp">
                                    <strong>fill in your correct </strong>
                                </div>
                            </div>
                            <!-- alart -->
                        </div>
                            <form class="user" method="POST" action="/admin_signup">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user reg_input" id="FullName"
                                            placeholder="Full Name" name="fname">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user reg_input" id="Username"
                                            placeholder="Username" name="username">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="email" class="form-control form-control-user reg_input" id="email"
                                            placeholder="Email" name="email">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user reg_input" id="mobile"
                                            placeholder="Phone Number" name="mobile">
                                    </div>
                                </div>
                                <div class="">
                                    <input type="text" class="form-control form-control-user reg_input" id="address"
                                        placeholder="Addresss" name="address">
                                </div>
                                <!-- <div class="">
                                    <label for="profile"></label>
                                    <input type="file" class="form-control form-control-user reg_input" id="exampleLastName"
                                        placeholder="image">
                                </div> -->
                                
                                <div class="form-group my-3 row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user reg_input"
                                            id="password" placeholder="Password"  name="password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user reg_input"
                                            id="confirm" placeholder="Repeat Password" name="confirm">
                                    </div><br>
                                     <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" onclick="togglePassword()">
                                            <label>show password
                                                </label>
                                        </div>
                                    </div>
                                </div>
                                <button type = "button" onclick="newUser()"  class="btn btn-primary btn-user btn-block" id="regBtn">
                                    Register Account
                                </button>
                               
                            </form>
                            
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/forgotPassword">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

<%- include('../layout/adminfooter.ejs') %>