<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      *{
        text-transform: capitalize;
        color: black;
      }
      button{
        padding: 5px;
        outline: none;
        border-radius: 3px;
        color: azure;
        background-color: dodgerblue;
      }
      h2{
        font-weight: bold;
        padding: 10px;
        color: dodgerblue;
      }
      .title{
        color: dodgerblue;
        font-weight: bold;
        font-size: 18px;
      }
    </style>
</head>
<body>
  <h2 class="text-center bg-primary p-2 pb-5"> Ogbu Oge </h2><hr><br><br>
  <p class="title">Password Recovery</p><br>

    <h3>Hello <%= username %></h3>
  <p>
    we received a request to reset your password.<br>
    please Click the button to proceed:
    <a href="<%=  redirect_link %>">
      <button style="padding:10px; color:white; background:blue">chanage password</button>
    </a>
  </p>
  
</body>
</html>