<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      *{
        text-transform: capitalize;
        color: black;
      }
      button{
        padding: 5px;
        outline: none;
        border-radius: 3px;
        color: azure;
        background-color: dodgerblue;
      }
      h2{
        font-weight: bold;
        padding: 10px;
        color: dodgerblue;
      }
      .title{
        color: dodgerblue;
        font-weight: bold;
        font-size: 18px;
      }
    </style>
</head>
<body>
  <h2>Ogbu-oge</h2><hr><br><br>


  <p class="title">stock increase alert from ogbu oge store</p><br>
  <h3>Hello Admin </h3>
  <p>
    Product <%= id %> is back in stock. Current quantity: <%= quantity %>, Threshold: <%= threshold %>. you need to restock. login now to verify and take neccessary action .;
    <a href="<%=  redirect_link %>">
      <button >login</button>
    </a>
  </p>
  
</body>
</html>